.card {
	position: relative;
	transition: .3s ease-in-out;
	padding: 10px;
	display: flex;
	align-items: center;

	&:hover:not(.active) {
		background: rgba($accent_dark, .1);
		transform: translateX(10px);
	
		
		.add {
			filter: brightness(1)
		}
	}
	
	&:hover {
		cursor: pointer;
	}

	.add {
		top: 23px;
		left: 23px;
		width: 24px;
    height: 24px;
		padding: 6.5px 13px;
		transition: .3s ease;
		filter: brightness(0.5);
	}
	
	.artwork {
		border-radius: 5px;
	}

	.label {
		text-align: left;
		border-radius: 3px;
		position: relative;
		font-size: 16px;
		padding: 0 15px;
		color: rgba(white, .6);
		font-weight: 300;
		letter-spacing: 1px;
		transition: .7s;
	}

}