.tips {
  position: absolute;
  width: 100%;
  height: calc(100% - 70px);
  z-index: 2;
  background: darken($accent, 35.5%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  visibility: hidden;

  &:hover {
    .scrollbar-container.vertical {
      opacity: 1;
    }
  }

  > .scrollarea-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &.active {
    visibility: visible;
  }

  .scrollbar-container.vertical {
    width: 10px;
    background: $player;
    opacity: 0;

    > .scrollbar {
      background-color: #444;
      margin: 0;
      width: 10px;
    }
  }

  .categoryWrapper {
    width: 44%;
    background: darken($accent, 36.5%);
    border-radius: 5px;
    margin: 10px;

    &.active {
      .category > .label > .arrow {
        transform: translateX(0) rotate(180deg);
      }
    }

    .category {
      display: flex;
      align-items: center;
      justify-content: center;

      .label {
        color: white;
        font-size: 18px;
        margin: 5px 5px 5px 20px;
        padding: 3px 0;
        display: inline-block;
        position: relative;
        display: flex;
        align-items: center;
        padding: 10px 0;

        .arrow {
          display: inline-block;
          background-size: 16px 16px;
          background-repeat: no-repeat;
          background-position: center;
          width: 16px;
          height: 16px;
          transition: .3s ease;
          transform: translateX(0);
          margin-right: 10px;
          margin-left: 5px;
        }

        .text {
          width: 70px;
        }

        &:hover {
          cursor: pointer;
        }
      }

      > .api {
        background-size: 24px 24px;
        background-repeat: no-repeat;
        background-position: center;
        width: 24px;
        max-height: 30px;
        min-height: 30px;
        transform: translateX(0);
        transition: .3s ease;
        margin-left: 10px;

        &.active {
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    .results {
      padding: 10px;
      margin-left: 20px;
      height: 300px;
      opacity: 0;
      pointer-events: none;

      @import "./card.scss";
      @import "./card_extended.scss";
    }

    &.active {
      .results {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  @import "./error.scss";
  @import "./info.scss";
}