.card {
	position: relative;
	transition: .3s ease-in-out;
	padding: 10px;
	border-left: 5px solid rgba(#efefef, 0.25);
	display: flex;
	align-items: center;
	background: #121212;
	
	&.active {
		border-left: 5px solid #efefef;
		
		.status {
			filter: brightness(100%);
		}
		
		.label {
			color: #fff;
		}
	}

	&:hover:not(.active) {
		background: rgba($accent, 0.125);
		border-color: rgba($accent, 0.125);
	}
	
	&:hover {
		cursor: pointer;
		
		.status {
			filter: brightness(75%);
		}
	}
	
	.status {
		background-size: 16px 16px;
		background-repeat: no-repeat;
		background-position: center;
		width: 30px;
		max-height: 30px;
		min-height: 30px;
		transform: translateX(0);
		transition: .3s ease;
		margin-left: 10px;
		filter: brightness(50%);
	}

	.placeholder {
		width: 30px;
		max-height: 30px;
		min-height: 30px;
		margin-left: 10px;
	}

	.label {
		text-align: left;
		border-radius: 3px;
		position: relative;
		font-size: 14px;
		padding: 0 15px;
		margin-left: 6px;
		color: rgba(white, .6);
		font-weight: 300;
		letter-spacing: 1px;
		transition: .7s;
	}

}

