.card {
	position: relative;
	transition: .3s ease-in-out;
	padding: 10px;
	display: flex;
	align-items: center;

	&:hover:not(.active) {
		background: #050505;
		
		.label {
			color: darken($accent, 12.5%);
		}
		
		.add {
			filter: brightness(1)
		}
	}
	
	&:hover {
		cursor: pointer;
	}

	.add {
		top: 23px;
		left: 23px;
		width: 24px;
    height: 24px;
		padding: 6.5px 13px;
		border-radius: 3px;
		box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
		transition: .3s ease;
		filter: brightness(0.5);
	}
	
	.artwork {
		border-radius: 5px;
	}

	.label {
		text-align: left;
		border-radius: 3px;
		position: relative;
		font-size: 16px;
		padding: 0 15px;
		color: rgba(white, .6);
		font-weight: 300;
		letter-spacing: 1px;
		transition: .7s;
	}

}

.active {

	.label {
		color: $accent;
		
		&:hover {
			color: $accent;
		}
	}

	img {
		box-shadow: 0px 0px 49px 0px rgba(0, 0, 0, 0.5);
	}
}