.info {
	position: relative;
	transition: .3s ease-in-out;
	padding: 0px 10px 10px 10px;
	align-items: center;
	
	.filters {
		
		.apis, .types {
			display: flex;
			justify-content: space-around;
		}
		
		.apis {
			
			.api {
				width: 50px;
				height: 50px;
				border-radius: 5px;
				background-size: 50px 50px;
				background-repeat: no-repeat;
				
				&.soundcloud {
					background-image: url("https://lh3.googleusercontent.com/ZwkhZQkwDp8zN6s3HqIYjRMBio3hQhSZczBga6XGnp_DseFgBF6R4XCco49MpdFTdUVz=w300")
				}
				
				&.lastfm {
					background-image: url("https://secure.last.fm/static/images/lastfm_avatar_twitter.66cd2c48ce03.png")
				}
				
				&.napster {
					background-image: url("https://lh3.googleusercontent.com/inSwjR5i5BiIaEWxGc0PgOeyIbWHc38Vk28CVzAUxA-tfJGBJdADP9XnaKpGxFZU6-k=w300")
				}
				
				&.tidal {
					background-image: url("//lh3.googleusercontent.com/a1hvfV9omWwfjNvUIgQLs65J3F7ozPrUPtPz7Bz3UhBtIcqXuPuR8Ftjljy9Vhylamk=w300")
				}
				
			}
		}
	}
	
	.close_search {
		display: block;
		
		color: white;
		
		
		img {
			width: 24px;
			vertical-align: middle;
			height: 24px;
			padding: 13px;
		}
		
		span {
			line-height: 24px;
			margin-left: 15px;
			vertical-align: middle;
		}
		
		&:hover {
			cursor: pointer;
		}
	}
}