.tips {
  position: absolute;
  width: 500px;
	height: calc(100% - 70px);
  background: #121212;
	
	&.active {
		z-index: 2;
	}
	
	.scrollbar-container.vertical {
		width: 10px;
		background: $player;
		opacity: 1;

		> .scrollbar {
			background-color: #444; 
			margin: 0;
			width: 10px;
		}
	}
	
	&.active {
		pointer-events: all;
	}
	
	@import "./card.scss";
	@import "./error.scss";
}