input[type=range].slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  position: relative;
  top: -10px;
  left: 5px;
  border-radius: 10px;
  display: inline-block;

  &:before {
    content: "";
    position: absolute;
    display: block;
    top: -12.5px;
    left: 0;
    z-index: 10;
    height: 31px;
    width: 100%;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    border-radius: 5px;
    background: #fff;
  }

  &::-webkit-slider-thumb {
    height: 26px;
    width: 8px;
    border-radius: 3px;
    background: $accent;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
  }

  &:focus::-webkit-slider-runnable-track {
    background: #fff;
  }

  &::-moz-range-track {
    width: 50%;
    height: 6px;
    cursor: pointer;
    border-radius: 5px;
    background: #fff;
  }

  &::-moz-range-thumb {
    height: 26px;
    width: 8px;
    border-radius: 3px;
    background: $accent;
    cursor: pointer;
    -moz-appearance: none;
    margin-top: -11px;
  }

  &::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    border-radius: 5px;
    background: #fff;
  }

  &::-ms-fill-lower, &::-ms-fill-upper {
    background: #fff;
    border-radius: 2.6px;
  }

  &::-ms-thumb {
    height: 26px;
    width: 8px;
    border-radius: 3px;
    background: $accent;
    cursor: pointer;
    -ms-appearance: none;
    margin-top: -11px;
  }

  &:focus {
    &::-ms-fill-lower, &::-ms-fill-upper {
      background: #fff;
    }
  }
}
