.middle {
	width: calc(100% - 540px);
	float: left;
	position: relative;
	height: 100%;
	overflow: hidden;
	
	@import "./artwork.scss";

  @import "./dashboard.scss";
	
	@import "./tips/tips.scss";
}

