.search {
  border-radius: 2px;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 3px;
  width: 500px;
  box-sizing: border-box;
  font-weight: 300;
  padding: 10px;
  background: #121212;
  z-index: 5;
  position: relative;
  
  .wrapper {
    > label {
      @media (max-width: 768px) {
        display: none;
      }

      img {
        position: relative;
        top: 8px;
        margin-left: 15px;
        width: 26px;
        height: 26px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    > input {
      width: 300px;
      padding: 10px;
      height: 21px;
      letter-spacing: 1px;
      font-size: 16px;
      margin: 10px 10px 10px 40px;
      color: white;
      background: #121212;
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      transition: 0.5s;
      position: relative;
      font-family: 'Open Sans', sans-serif;

      &:active, &:focus {
        outline: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
      }
    }
  }
}
