.list {
  position: absolute;
  width: 500px;
  background: #121212;
	height: calc(100% - 70px);

  > .scrollbar-container.vertical {
    width: 10px;
    background: $player;
    opacity: 1;
  
    > .scrollbar {
      background-color: #444; 
      margin: 0;
      width: 10px;
    }
  }
	
	@import "./listComponents/card.scss";
	@import "./listComponents/error.scss";
}