.search {
  border-radius: 2px;
  letter-spacing: 3px;
  box-sizing: border-box;
  padding: 10px;
  display: flex;

  > label {
    padding: 13px;
    height: 24px;
    width: 24px;
    display: inline-block;

    svg {
      position: relative;
      width: 24px;
      height: 24px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  > input {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 10px 0;
    height: 24px;
    background: darken($accent, 37.5%);
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 600;
    margin: 3px 0 2px 15px;
    color: rgba(white, 0.6);
    border: none;
    //		border-bottom: 1px solid rgba(white, 0.3);
    transition: 0.5s;
    position: relative;

    &:active, &:focus {
      outline: none;
      color: white;
      //			border-bottom: 1px solid rgba(white, 0.6);
    }
  }
}
