.search {
  border-radius: 2px;
  letter-spacing: 3px;
  width: 500px;
  box-sizing: border-box;
  padding: 10px;
  background: #121212;
  
	> label {
		padding: 13px;
		height: 24px;
		width: 24px;
		display: inline-block;

		img {
			position: relative;
			width: 24px;
			height: 24px;

			&:hover {
				cursor: pointer;
			}
		}
	}

	> input {
		display: inline-block;
		vertical-align: top;
		width: 	calc(100% - 131px);
		padding: 10px 0;
		height: 24px;
		letter-spacing: 1px;
		font-size: 16px;
		margin: 3px 0 2px 15px;
		color: rgba(white, 0.6);
		background: #121212;
		border: none;
		border-bottom: 1px solid rgba(white, 0.3);
		transition: 0.5s;
		position: relative;
		font-family: 'Open Sans', sans-serif;

		&:active, &:focus {
			outline: none;
			color: white;
			border-bottom: 1px solid rgba(white, 0.6);
		}
	}
}
