.queue {
  margin-top: 20px;
  z-index: 1;

  > h2 {
    color: white;
    margin: 20px;
    font-size: 28px;
  }

  &:hover {
    .scrollbar-container.vertical {
      opacity: 1;
    }
  }

  .scrollbar-container.vertical {
    width: 5px;
    background: black;
    opacity: 0;

    > .scrollbar {
      background-color: #aaa;
      margin: 0;
      width: 5px;
    }
  }

  @import "./list/list.scss";
  @import "./error.scss";
  @import "./info.scss";
}