#app {
  height: 100%;
  min-height: 100%;
	overflow: hidden;
  
  .root {
    background-color: darken($accent, 60%);
		overflow: hidden;
		
		height: 100%;
    min-height: 100%;
		
		display: grid;
    grid-template-columns: [left] 25% [middle] 60% [right] 15%;
		
		@import "left/left.scss";
	
		@import "middle/middle.scss";
	
		@import "right/right.scss";
  }
}