#app {
  height: 100%;
  min-height: 100%;
	overflow: hidden;
  
	background-color: darken($accent, 60%);
	overflow: hidden;

	display: grid;
	grid-template-columns: [left] 25% [middle] 75% [right] 0%;

	@import "left/left.scss";

	@import "middle/middle.scss";

	@import "right/right.scss";
}