.player_component {
  overflow: hidden;
  max-height: 100%;
  min-height: 100%;
  background: #333;
  width: 500px;
  float: left;

  .cards {
    overflow-y: scroll;
    display: block;
    width: 500px;
    height: calc(100vh - 376px);
    position: relative;
    background: #050505;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    z-index: 2;
    
    &::-webkit-scrollbar {
      width: 10px;;
    }

    &::-webkit-scrollbar-track {
        width: 10px;
        background: #222;
        opacity: 0;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $accent;
    }

    @import "player/card.scss";
  }

  @import "player/controls.scss";
}
