.right {
	width: calc(100% - 500px);
	right: calc(556px - 100%);
	position: absolute;
	height: 100%;
	background-color: darken($accent, 45%);
	z-index: 2;
	
	&.visible {
		right: 0;
	}
	
	.visibility {
		background-size: 24px 24px;
		width: 24px;
		height: 24px;
		position: absolute;
		top: 16px;
		left: 16px;
		
		&.faded {
			opacity: 0
		}
		
		&:hover {
			cursor: pointer
		}
	}
	
}