.card {
	position: relative;
	transition: .3s ease-in-out;
	padding: 10px;
	display: flex;
	background: #121212;
	
	&.active {
		
		.status {
			opacity: 0.75;
		}
		
		.placeholder {
			filter: grayscale(50%);
		}
		
		.label {
			color: #fff;
		}
	}

	&:hover:not(.active) {
		background: rgba($accent, 0.125);
		border-color: rgba($accent, 0.125);
	}
	
	&:hover {
		cursor: pointer;
		
		.status {
			opacity: 0.5;
		}
		
		.placeholder {
			filter: brightness(100%);
		}
	}
	
	.status {
		background-size: 28px 28px;
		background-repeat: no-repeat;
		background-position: center;
		width: 80px;
		max-height: 80px;
		min-height: 80px;
		transform: translateX(0);
		transition: .3s ease;
		position: absolute;
		z-index: 1;
		opacity: 0;
		background-color: black;
		margin-left: 10px;
	}

	.placeholder {
		width: 80px;
		height: 80px;
		margin-left: 10px;
		
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		
		transition: .3s ease;
	}

	.meta {
		
		width: 240px;
		margin-left: 12px;
		
		.label {
			color: white;
			font-size: 16px;
			margin-bottom: 5px;
		}
		
		.artist {
			text-align: left;
			border-radius: 3px;
			position: relative;
			font-size: 14px;
			color: rgba(white, .6);
			font-weight: 300;
		}
	}
	

}

