.input-range > .input-range__track {
  background: rgb(128, 128, 128);
}

#app > section > div.dashboard > div.track-status > div.configs > div.volume_controls > div > div > span > div {
  background: darken($accent, 25%);
  border: none;
}

#app > section > div.dashboard > div.track-status > div.configs > div.volume_controls > div > div > div {
  background: darken($accent, 15%);
}