.error {
  position: relative;
  transition: .3s ease-in-out;
  padding: 10px;
  display: flex;
  align-items: center;

  .description {
    text-align: left;
    border-radius: 3px;
    position: relative;
    font-size: 16px;
    padding: 0 15px;
    color: rgba(white, .6);
    font-weight: 300;
    letter-spacing: 1px;
    transition: .7s;
    width: 100%;
  }

  img {
    width: 18px;
    height: 18px;
    float: right;
  }

}