.tips {
  position: absolute;
  width: 100%;
  height: calc(100% - 70px);
  z-index: 2;
  background: darken($accent, 35.5%);
  transform: translateY(100%);
  display: flex;
  flex-wrap: nowrap;

  &.active {
    transform: translateY(0);
  }

  .categories {
    min-width: 170px;
    height: 100%;
    padding: 10px;

    h3 {
      color: white;
      margin: 10px 20px 10px 20px;
      font-size: 24px;
    }

    .category {
      display: flex;
      align-items: center;

      &.active > .name {
        opacity: 1;
      }

      > .name {
        color: white;
        margin: 5px 5px 5px 20px;
        position: relative;
        align-items: center;
        padding: 10px 0;
        font-size: 20px;
        width: 70px;
        opacity: .5;
        text-transform: capitalize;

        &:hover {
          cursor: pointer;
        }
      }

      > .apis {
        > .api {
          display: inline-block;
          background-size: 24px 24px;
          background-repeat: no-repeat;
          background-position: center;
          width: 24px;
          max-height: 24px;
          min-height: 24px;
          transform: translateX(0);
          border-radius: 6px;
          transition: .3s ease;
          margin-left: 10px;
          filter: grayscale(100%);
          &.active {
            filter: grayscale(50%);
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .results {
    padding: 10px;

    h3 {
      color: white;
      margin: 10px 20px 10px 20px;
      font-size: 24px;
      text-transform: capitalize;
    }

    .wrapper {
      height: 700px;
      width: 800px;
      position: relative;

      .result {
        display: none;
        height: 700px;

        &:hover {
          .scrollbar-container.vertical {
            opacity: 1;
            pointer-events: all;
          }
        }

        .scrollbar-container.vertical {
          width: 10px;
          background: $player;
          opacity: 0;
          pointer-events: none;

          > .scrollbar {
            background-color: darken($accent, 32.5%);;
            margin: 0;
            width: 10px;
          }
        }

        &.active {
          display: block;
        }

        @import "./card.scss";
        @import "./card_extended.scss";
      }
    }
  }

  @import "./error.scss";
  @import "./info.scss";
}
